.base {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.btn {
  padding: 7px 16px;

  background: #e9e8e4;
  color: #416a40;
  border: 1.3px solid #416a40;
  border-radius: 163px;
}
