@import url("http://fonts.cdnfonts.com/css/georgia");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.heading,
.heading span {
  font-family: "Georgia", sans-serif;
  text-transform: lowercase;
  color: #b5b7aa;
  font-size: 3rem;
  font-weight: 700;
  padding-top: 7rem;
}

.heading span {
  color: #416a40;
}

.content {
  color: #b5b7aa;
  text-transform: lowercase;
  margin: 1.5rem 0;
  line-height: 20px;
  width: 250px;
}
